<header class="header">
  <div class="topbar">
    <div class="logo">
      <a routerLink="/">
        <img src="assets/img/logo.svg" alt="CHEEETAH" />
      </a>
    </div>
    <div *ngIf="user$ | async as user; else default">
      <div class="login" mat-mini-fab [matMenuTriggerFor]="menu">
        <div class="login-button">
          <a routerLink="/">
            <img [src]="user.avatarURL" alt="" />
          </a>
        </div>
      </div>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/">
          <mat-icon>face</mat-icon>
          <span>マイページ</span>
        </button>
        <button mat-menu-item routerLink="/create">
          <mat-icon>fiber_new</mat-icon>
          <span>ストア作成</span>
        </button>
        <button (click)="logout(user.uid)" mat-menu-item>
          <mat-icon> exit_to_app</mat-icon>
          <span>ログアウト</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item routerLink="/">
          <mat-icon>settings</mat-icon>
          <span>設定</span>
        </button>
      </mat-menu>
    </div>
    <ng-template #default>
      <div>
        <div class="login" (click)="login()">
          <a routerLink="/">
            <mat-icon role="img" class="login-icon">person_add</mat-icon>
          </a>
        </div>
      </div>
    </ng-template>
  </div>
  <div class="my-addrress">
    いますぐに注文する→
    <span>港区南麻布3丁目 </span>
  </div>
  <div class="navbar">
    <div class="search">
      <div class="tag-search">
        <button mat-stroked-button>
          # 近所のサービスを探す
        </button>
      </div>
      <div class="search-box">
        <form action="">
          <input
            type="text"
            class="search-box__input"
            placeholder="カテゴリー・サービス名・住所などで検索する"
          />
          <button class="search-box__btn">
            <mat-icon role="img">search</mat-icon>
          </button>
        </form>
      </div>
    </div>
    <div class="cart">
      <a routerLink="/">
        <mat-icon role="img" matBadge="3" matBadgeColor="warn">
          shopping_cart
        </mat-icon>
      </a>
    </div>
  </div>
</header>
