<footer class="footer">
  <div class="footer-wrap">
    <p class="copyright">&copy;CHEEETAH</p>
    <nav>
      <ul class="footer-nav">
        <li class="footer-nav__item">
          <a routerLink="/">利用規約</a>
        </li>
        <li class="footer-nav__item">
          <a routerLink="/">ガイドライン</a>
        </li>
        <li class="footer-nav__item">
          <a routerLink="/">運営会社</a>
        </li>
        <li class="footer-nav__item">
          <a routerLink="/">お問い合わせ</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
