$breakpoint-xs: 350px;
$breakpoint-sp: 425px;
$breakpoint-tab: 768px;
$breakpoint-lg: 1025px;
$breakpoint-xl: 1400px;
$breakpoint-pc: 426px;

@mixin xs {
  @media screen and (max-width: $breakpoint-xs) {
    @content;
  }
}

@mixin sp {
  @media screen and (max-width: $breakpoint-sp) {
    @content;
  }
}

@mixin tab {
  @media screen and (max-width: $breakpoint-tab) {
    @content;
  }
}

@mixin lg {
  @media screen and (max-width: $breakpoint-lg) {
    @content;
  }
}

@mixin xl {
  @media screen and (max-width: $breakpoint-xl) {
    @content;
  }
}

@mixin pc {
  @media screen and (min-width: $breakpoint-pc) {
    @content;
  }
}
