@import '../assets/css/layout';


mat-sidenav {
  width: 256px;

  @include sp {
    display: none;
  }
}

.mat-sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  display: block;
  overflow: hidden;
  background: #fff;

  @include sp {
    position: relative;
  }

}


.test-height {
  height: 2000px;
}
