<mat-nav-list>
  <div class="logo-wrap">
    <a routerLink="/" class="logo">
      <img src="assets/img/logo.svg" alt="CHEEETAH" />
    </a>
  </div>

  <div class="member-wrap">
    <div class="member" *ngIf="user$ | async as user; else default">
      <div class="member__loggedin">
        <div
          class="member__loggedin-button"
          mat-mini-fab
          [matMenuTriggerFor]="menu"
          matTooltip="マイメニューを開く"
          aria-label="マイメニュー"
        >
          <img [src]="user.avatarURL" alt="" />
        </div>
      </div>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/">
          <mat-icon>face</mat-icon>
          <span>マイページ</span>
        </button>
        <button mat-menu-item routerLink="/create">
          <mat-icon>fiber_new</mat-icon>
          <span>ストア作成</span>
        </button>
        <button (click)="logout(user.uid)" mat-menu-item>
          <mat-icon> exit_to_app</mat-icon>
          <span>ログアウト</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item routerLink="/">
          <mat-icon>settings</mat-icon>
          <span>設定</span>
        </button>
      </mat-menu>

      <div class="member__status">
        <div class="member__logout">
          <p>
            Hello, <span>{{ user.name }}</span>
          </p>
        </div>
        <div class="member__order">
          <a routerLink="/order"><button>いますぐ注文する</button></a>
        </div>
      </div>
    </div>
    <ng-template #default>
      <div class="member">
        <div class="member__signup">
          <div class="member__signup-button">
            <button (click)="login()">
              <mat-icon class="login-icon">person_add</mat-icon>
            </button>
          </div>
        </div>
        <div class="member__status">
          <div class="member__login">
            <button (click)="login()">新規登録 / ログイン</button>
            <span>未ログイン</span>
          </div>
        </div>
      </div>
    </ng-template>
  </div>

  <mat-divider></mat-divider>

  <h3 matSubheader>Search</h3>
  <a mat-list-item routerLink="/">
    <mat-icon mat-list-icon>
      <img src="assets/img/panther.svg" alt="" />
    </mat-icon>
    <div class="mat-list-text">
      <span mat-line>ホーム</span>
    </div>
  </a>
  <a mat-list-item routerLink="/">
    <mat-icon mat-list-icon>label</mat-icon>
    <div class="mat-list-text">
      <span mat-line>タグから探す</span>
    </div>
  </a>
  <a mat-list-item routerLink="/">
    <mat-icon mat-list-icon>location_on</mat-icon>
    <div class="mat-list-text">
      <span mat-line>近所で探す</span>
    </div>
  </a>

  <h3 matSubheader>Service</h3>
  <a mat-list-item routerLink="/">
    <mat-icon mat-list-icon>new_releases</mat-icon>
    <div class="mat-list-text">
      <span mat-line>新着ニュース</span>
    </div>
  </a>
  <a mat-list-item routerLink="/">
    <mat-icon mat-list-icon>face</mat-icon>
    <div class="mat-list-text">
      <span mat-line>サービスについて</span>
    </div>
  </a>

  <ng-container *ngIf="userLoginStatus">
    <h3 matSubheader>Dashboard</h3>
    <a mat-list-item routerLink="/">
      <mat-icon mat-list-icon>offline_bolt</mat-icon>
      <div class="mat-list-text">
        <span mat-line>userのみ表示</span>
      </div>
    </a>
  </ng-container>

  <ng-container *ngIf="ownerLoginStatus">
    <h3 matSubheader>Dashboard</h3>
    <a mat-list-item routerLink="/create">
      <mat-icon mat-list-icon>fiber_new</mat-icon>
      <div class="mat-list-text">
        <span mat-line>ストアの作成</span>
      </div>
    </a>
  </ng-container>

  <div class="side-buttom">
    <div class="side-banner">
      <button (click)="loginOwner()">
        <img src="assets/img/banner.svg" alt="" />
      </button>
    </div>
  </div>
</mat-nav-list>
