@import 'layout';
@import 'variables';


.logo-wrap {
  padding: 16px;
}

.logo {
  display: block;
  text-align: center;
}

.member-wrap {
  padding: 16px;
}

.member {
  display: block;
  text-align: center;

  a {
    display: block;
  }

  &__signup {
    margin-bottom: 16px;
  }

  &__loggedin {
    margin-bottom: 16px;
  }

  &__signup-button {
    width: 32px;
    padding: 8px;
    background-color: $color-gray;
    border-radius: 8px;
    margin: 0 auto;

    button {
      padding: 2px;
    }
  }

  &__loggedin-button {
    width: 46px;
    margin: 0 auto;
    background: center / contain no-repeat $color-gray;

    button {
      padding: 2px;
    }

    img {
      display: block;
      border-radius: 25%;
      width: 100%;
      height: 100%;
    }
  }

  &__status {
    display: block;
  }

  &__login {
    span {
      color: #888;
      font-size: 10px;
      font-weight: 700;
    }

    button {
      display: block;
      font-size: 14px;
      font-weight: 700;
      line-height: 10px;
      margin: 0 auto 5px;
      background: #fff;
      padding: 8px 13px;
      border-radius: 5px;
    }
  }

  &__logout {

    button {
      display: block;
      font-size: 12px;
      font-weight: 700;
      line-height: 10px;
      margin: 0 auto 5px;
      background: #fafafa;
      padding: 8px 13px;
      border-radius: 5px;
      border: 1px gray;
    }

    p {
      color: #888;
      font-size: 10px;
      font-weight: 700;
    }
  }

  &__order {
    padding: 8px;
    margin-top: 8px;

    button {
      display: block;
      font-size: 12px;
      font-weight: 700;
      line-height: 10px;
      margin: 0 auto 5px;
      background: $color-yellow;
      padding: 8px 13px;
      border-radius: 5px;
      border: 1px gray;
    }
  }
}

.mat-list-icon {
  img {
    width: 24px;
    height: 24px;
  }
}

.side-buttom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.side-banner {
  display: block;
  text-align: center;
  padding: 32px;

  img {
    width: 100%;
  }

  button {
    width: 100%;
  }

  @media screen and (max-height: 700px) {
    display: none;
  }
}
