<mat-nav-list>
  <div class="logo-wrap">
    <a routerLink="/" class="logo">
      <img src="../../assets/img/logo.svg" alt="CHEEETAH" />
    </a>
  </div>

  <div class="member-wrap">
    <a routerLink="/" class="member">
      <div class="member__signup">
        <div class="member__signup-button">
          <svg x="0px" y="0px" viewBox="0 0 24 24" alt="メンバーに参加する">
            <path
              d="M15,12c2.2,0,4-1.8,4-4s-1.8-4-4-4s-4,1.8-4,4S12.8,12,15,12z M6,10V8c0-0.6-0.4-1-1-1S4,7.4,4,8v2H2c-0.5,0-1,0.4-1,1 s0.5,1,1,1h2v2c0,0.6,0.4,1,1,1s1-0.4,1-1v-2h2c0.6,0,1-0.4,1-1s-0.4-1-1-1H6z M15,14c-2.7,0-8,1.3-8,4v1c0,0.5,0.4,1,1,1h14 c0.5,0,1-0.5,1-1v-1C23,15.3,17.7,14,15,14z"
            ></path>
          </svg>
        </div>
      </div>
      <div class="member__status">
        <span>新規登録 / ログイン</span>
        <span>未ログイン</span>
      </div>
    </a>
  </div>

  <mat-divider></mat-divider>

  <h3 matSubheader>Search</h3>
  <a mat-list-item routerLink="/">
    <mat-icon mat-list-icon>
      <img src="../../assets/img/panther.svg" alt="" />
    </mat-icon>
    <div class="mat-list-text">
      <span mat-line>ホーム</span>
    </div>
  </a>
  <a mat-list-item routerLink="/">
    <mat-icon mat-list-icon>label</mat-icon>
    <div class="mat-list-text">
      <span mat-line>タグから探す</span>
    </div>
  </a>
  <a mat-list-item routerLink="/">
    <mat-icon mat-list-icon>location_on</mat-icon>
    <div class="mat-list-text">
      <span mat-line>近所で探す</span>
    </div>
  </a>

  <h3 matSubheader>Service</h3>
  <a mat-list-item routerLink="/">
    <mat-icon mat-list-icon>new_releases</mat-icon>
    <div class="mat-list-text">
      <span mat-line>新着ニュース</span>
    </div>
  </a>
  <a mat-list-item routerLink="/">
    <mat-icon mat-list-icon>face</mat-icon>
    <div class="mat-list-text">
      <span mat-line>サービスについて</span>
    </div>
  </a>

  <div class="side-buttom">
    <a routerLink="/" class="side-banner">
      <img src="../../assets/img/banner.svg" alt="" />
    </a>
  </div>
</mat-nav-list>
