<div class="bottom-nav">
  <a routerlink="/" class="bottom-nav-item" href="/">
    <mat-icon role="img" class="bottom-nav-item__icon">home</mat-icon>
    <span class="bottom-nav-item__label">
      ホーム
    </span>
  </a>

  <a routerlink="/" class="bottom-nav-item" href="/">
    <mat-icon role="img" class="bottom-nav-item__icon">search</mat-icon>
    <span class="bottom-nav-item__label">
      検索
    </span>
  </a>

  <a routerlink="/" class="bottom-nav-item" href="/">
    <mat-icon role="img" class="bottom-nav-item__icon">face</mat-icon>
    <span class="bottom-nav-item__label">
      マイページ
    </span>
  </a>
</div>
